<table>
  <tr>
    <td> Task Name</td>
  </tr> 
  <div id="task">
    <%= link_to 'New Task', new_task_path, remote: true %>
  </div>
  <tbody id="taskBody">
    <%= render 'task_body' %>
  </tbody>
</table>
