<h1> Enter Detail</h1>

<%= form_for @project, method: :post do |form| %>
    <p>
        <%= form.label :project_name %><br>
        <%= form.text_field :p_name %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>