<div class="sidebar-container">
  <div class="sidebar-logo">
    Project Listing
  </div>
  <ul class="sidebar-navigation">
    <li>
      <% @projects.each do |p|%>
        <li><%= link_to p.p_name, tasks_path(project_id: p.id), remote: true %></li>
      <%end%>
    </li>
  </ul>
</div>


<div class="content-container">
  <div class="container-fluid">
    <div>
      <h2> Task Listing </h2>
    </div>
    
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div id="taskList"></div>
    </div>
  </div>
</div>



