<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Start Bootstrap </div>
    <div class="list-group list-group-flush">
      <% @projects.each do |p|%>
        <li class="list-group-item list-group-item-action bg-light">
          <%= link_to p.p_name, tasks_path(project_id: p.id), remote: true %>
        </li>
      <%end%>
    </div>
    </div>
    
  <div class="container-fluid">
    <h1 class="mt-4">Simple Sidebar</h1>
      <div id="taskList"></div>
    </div>
  </div>
</div>
