// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }


form fieldset.inputs {
  background: transparent;
  box-shadow:  0 0 0;
  margin-bottom: 0;
}

.formtastic li {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
}

.formtastic label {
  display: block;
  width: 100%;
  padding: 0;
  padding-bottom: 10px;
  font-size: 16px;
}

.formtastic {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
}

.formtastic select {
  background: transparent;
  width: 100%;
  border: 1px solid #c9d0d6;
  border-radius: 3px;
  font-size: 0.95em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  outline: none;
  padding: 8px 10px 7px;
}

.formtastic input[type="text"] {
  width: 100%;
  box-sizing: border-box;
}

.formtastic  .actions input[type=submit], .formtastic  fieldset.buttons li.cancel a, .formtastic  fieldset.actions li.cancel a {
  background: #33b5e5;
  color: #fff;
  text-shadow: none;
  box-shadow: none;
  background-image: none;
  border-color: #33b5e5;
  padding: 17px 21px;
  font-size: 16px;
  transition: all ease .3s;
}

.formtastic fieldset.buttons li.cancel a,.formtastic fieldset.actions li.cancel a {
  background: #ccc;
  border-color: #ccc;
  color: #000;
}

.formtastic  .actions input[type=submit]:hover {
    background: #2fb0e0;
    border-color: #2fb0e0;

}

.formtastic  fieldset.actions li.cancel a:not(.disabled):hover, .formtastic  fieldset.actions li.cancel a:hover {
  background: #fff;


}